.sidebar-div {
    width: 250px;
    flex-shrink: 0;
    background-color: white;
    border-right: 1px solid #ddd;
    color: #007336;
}

.sidebar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;

    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
    background-color: white;
}

.sidebar h2 {
    color: #007336;
    margin-bottom: 25px;
    padding-bottom: 30px;

}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sidebar li {
    margin-bottom: 8px;
}
.sidebar-link {
    display: block;
    padding: 12px 15px;
    text-decoration: none;
    color: #007336;
    border-radius: 8px;
    transition: background-color 0.2s, color 0.2s;
}

/* Quando o mouse está sobre o botão */
.sidebar-link:hover {
    background-color:#007336;
    color: white;
}

/* Mantém verde o último botão clicado */
.sidebar-link.ativo {
    background-color: #007336;
    color: white;
}
.sidebar-sair {
    margin-top: auto;
    border-top: 1px solid #ddd;
    padding-top: 12px;
}
.sidebar-sair .sidebar-link {
    width: 100%;
    display: block;
    padding: 12px 15px;
}
@media (max-width: 1000px) {
    .sidebar-div{
        font-size: 7px;
    }
    .sidebar-div,
    .sidebar {
        
        width: 220px;
    }

    .sidebar {
        padding: 15px;
    }

    .sidebar-link {
        padding: 10px 12px;
    }
     .sidebar-sair {
        margin-top: 20px;
    }
}

@media (max-width: 700px) {
    .sidebar-div,
    .sidebar {
        width: 199px;
    }

    .sidebar {
        padding: 12px;
    }

    .sidebar h2 {
        font-size: 10px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .sidebar-link {
        padding: 10px;
        font-size: 14px;
    }
     .sidebar-sair {
        margin-top: 20px;
    }
}
@media (max-width: 600px) {
    .sidebar-div,
    .sidebar {
        width: 80px;
    }

    .sidebar-link {
        text-align: center;
        padding: 12px 5px;
    }

    .sidebar-link span {
        display: none;
    }
     .sidebar-sair {
        margin-top: 20px;
    }
}